<manifest package="com.githang.clipimage"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ClipImageActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>
    </application>
</manifest>
